.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.Rproj

*.RData
Table_of_Languages.tab
Table_of_LICs.tab

ethnologue_pop_full.tsv
ethnologue_pop_L2_full.tsv
pop_full_L2.tsv
pop.tsv
pop_full.tsv
GB_wide_strict.tsv
*.png
.xlsx
*.jpg
*.svg
*.tiff
*.emf
*.eps
*.ps
*.wmf
*.pptx
*.docx
*.pdf
*.jpeg
*.qs

#folders
*grambank-analysed*
data/Table_of_LICs.tab

data_wrangling/ethnologue_pop_L2_full.tsv
data_wrangling/pop_full_L2.tsv
