.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.Rproj

*.RData
Table_of_Languages.tab
ethnologue_pop_full.tsv
pop.tsv
pop_full.tsv
GB_wide_strict.tsv
*.png
.xlsx
*.jpg
*.svg
*.tiff
*.emf
*.eps
*.ps
*.wmf
*.pptx
*.docx
*.pdf
*.jpeg

#folders
*grambank-analysed*
